/HCC/sim/build/
/HCC/sim/outputs/
/HCC/sim/profiling/
/HCC/sim/HCC_outputs2/
/HCC/sim/HCC_outputs/
/HCC/sim/HCC_outputs-donotuse/
/HCC/sim/TNBC_outputs/
/HCC/sim/TNBC_outputs_2/
/figs/
/python/
/outputs/
/docs/
/data/
/.claude/
/.vscode/
/memory/
CLAUDE.md
/HCC/sim/cluster.conf
/HCC/sim/external/
*.png
.venv/
*.db
*.json
*.err
*.out
